/* DropdownMenu.css */
.dropdown-menu .submenu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    top: 100%;
    /* Position the submenu below the list item */
    left: 0;
    /* Position the submenu aligned with the list item */
    width: 100%;
    /* Make the submenu full-width */
}

.dropdown-menu li.active .submenu {
    display: block;
}

@media (min-width: 769px) {
    .dropdown-menu li:hover .submenu {
        display: block;
        /* Show the submenu on hover on big screens */
    }
}